{% extends 'base.html.twig' %}

{% block title %}Film accueil{% endblock %}

{% block body %}
    <div class="container ">
        <h1 class="text-center my-3">Film accueil</h1>


        <div class="row ">
        {% for item in films %}
            <div class="card col-4 m-2" style="width: 15rem;">
                <img src="{{ item.image }}" class="card-img-top" alt="affiche">
                <div class="card-body">
                    <h5 class="card-title">{{item.titre}}</h5>
                    
                    <a href="{{ path('app_film_edit', {'id': item.id}) }}" class="btn btn-primary">Edition</a>
                    <a href="{{ path('app_film_show', {'id': item.id}) }}" class="btn btn-primary">Detail</a>
                </div>
            </div>
        {% endfor %}
        </div>
        <a class="btn btn-info" href="{{ path('app_film_new') }}">Create new</a>
    </div>
{% endblock %}
