{% extends 'base.html.twig' %}

{% block title %}Film{% endblock %}

{% block body %}
    <h1 class="text-center">{{ film.titre }}</h1>

    {# <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ film.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ film.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ film.description }}</td>
            </tr>
            <tr>
                <th>Date_de_sortie</th>
                <td>{{ film.dateDeSortie ? film.dateDeSortie|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ film.duree ? film.duree|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ film.image }}</td>
            </tr>
        </tbody>
    </table> #}
    <div class="d-flex justify-content-center ">
        <div class="card col-4 m-2" style="width: 15rem;">
            <img src="{{ film.image }}" class="card-img-top" alt="affiche">
            <div class="card-body">
                <h5 class="card-title text-center">{{film.titre}}</h5>
                <p>{{ film.description }}</p>
                <div class="d-flex justify-content-around">
                    <a href="{{ path('app_film_edit', {'id': film.id}) }}" class="btn btn-primary">Edition</a>
                    {{ include('film/_delete_form.html.twig') }}
                </div>
                
            </div>
        </div>
    </div>
    <a href="{{ path('app_film_index') }}" class="btn btn-primary">back to list</a>

{% endblock %}
