{% extends 'base.html.twig' %}

{% block title %}Hello ToDoController!{% endblock %}

{% block body %}


<div class="container text-center">
    <h1>Hello {{ controller_name }}! ✅</h1>
    {# Message error #}
    {% for flash in app.flashes('warning') %}
        <div class="alert alert-warning text-center">
            {{ flash }}
        </div>
    {% endfor %}

    {% if (todolist ) %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Tache</th>
                <th scope="col">Description</th>
                <th scope="col">Etat</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todolist %}
            <tr>
                <th scope="row">{{todo.id}}</th>
                <td>{{todo.task}}</td>
                <td>{{todo.description}}</td>
                <td>
                    <input onchange = "window.location.href = '{{ path('app.todo.patch.completed',  {'id': todo.id})}}' " type="checkbox" {{todo.completed == false ? '' : 'checked'}}>
                </td>
                <td>
                    <a href="{{ path('app.todo.detail', {'id': todo.id}) }}" class="btn btn-info">détail</a>
                </td>
                <td>
                    <a href="{{ path('app.todo.delete', {'id': todo.id}) }}" class="btn btn-warning">Delete</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}
